<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div>
            <h1>Enter a new Rabbit</h1>
            <form action="/rabbits" method='POST'>
                <label>Name: </label>
                <input type="text" name="name" />

                <label>Ear Length: </label>
                <input type="text" name="ear_length" />

                <label>Cuteness Level: </label>
                <input type="text" name="cuteness_level" />

                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>