<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Rabbit Dashboard</h1>
    <div>
      Currently Registered Rabbits &nbsp; <a href='/rabbits/new'>Add new</a>
    </div>
    <hr>
    <div>
      <% for (let rabbit of rabbits) { %>
      <p> <a href='/rabbits/<%= rabbit.id %>' > <%= rabbit.name %> </a> </p>
      <% } %>
    </div>
    
  </body>
</html>
